
<vevol-tabs class="container">
  <div class="tab-buttons" slot="tab-buttons">
    {% for tab in section.blocks %}
      <div class="tab-button" data-tab-id="{{ tab.id }}">
        {{ tab.settings.heading }}
      </div>
    {% endfor %}
  </div>
  <div class="tab-content" slot="tab-content">
    {% for tab in section.blocks %}
      <div class="content" id="{{ tab.id }}">
        {{ tab.settings.content }}
      </div>
    {% endfor %}
  </div>
</vevol-tabs>


{% schema %}
{
  "name": "Tabs section",
  "settings": [
    {
      "type": "text",
      "id": "section_heading",
      "label": "Section heading",
      "default": "Tabs section"
    }
  ],
  "blocks": [
    {
      "name": "Tab",
      "type": "tab",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Tab heading",
          "default": "Tab heading"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Tab content",
          "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Tabs",
      "blocks": [
        { "type": "tab" },
        { "type": "tab" },
        { "type": "tab" }
      ]
    }
  ]
}
{% endschema %}


{% comment %} {
    "type": "tab",
    "name": "Tab 1",
    "settings": {
      "heading": "Tab 1 heading",
      "content": "<p>Tab 1 content</p>"
} {% endcomment %}