.container {
  width: 80vmin;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

.tab-buttons {
  display: flex;
}

.tab-button {
  flex: 1;
  text-align: center;
  padding: 15px 0;
  cursor: pointer;
  font-weight: 600;
  background-color: #e4e9fd;
}

.tab-content {
  background-color: #ffffff;
  padding: 50px 40px;
}

.content {
  display: none;
}

.active {
  background-color: #ffffff;
  color: #4d5bf9;
}
