.tabs {
  background-color: blue; /* Genel arka plan rengi */
  overflow: hidden;
}

.tab-buttons {
  margin-bottom: 10px;
}

.tab-button {
  background-color: white; /* Başlık arka plan rengi */
  border: none;
  color: black;
  padding: 10px 20px;
  cursor: pointer;
  float: left;
  transition: background-color 0.3s;
}

.tab-button:hover {
  background-color: lightgray;
}

.tab-content {
  clear: both;
}

.tab-pane {
  display: none;
  padding: 20px;
  background-color: white; /* İçerik arka plan rengi */
}

.tab-pane.active {
  display: block;
}
