.vevol-tabs {
  /* Tabbed section container styles */
  background-color: #4451d7;
}

.tabs {
  /* Container for tabs */
  display: flex;
  background-color: #fff;
}

.tab {
  /* Individual tab styles */
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  margin-right: 5px;
  display: none; /* Hide tabs by default */
}

.tab:last-child {
  margin-right: 0;
}

.tab.active {
  display: block; /* Show active tab */
}

.tab h2 {
  font-style: bold;
  color: #1b1e20;
}

.tab p {
  color: #1b1e20;
}
